@page
@model IndexModel
@{
    ViewData["Title"] = "DoraemonTheme HomePage";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: bold;">Welcome, to the Doraemon's World</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>


@{
    var Doraemons_Theme_Characters = new [] {
        new {
            fullName = "#MS-903 Doraemon",
            nickName = "Doraemon",
            species = "Robot Cat",
            favoriteColour = "Blue"
        },
        new {
            fullName = "Nobita Nobi",
            nickName = "Noby",
            species = "Human",
            favoriteColour = "Yellow"
        },
        new {
            fullName = "Shizuka Minamoto",
            nickName = "Sue",
            species = "Human",
            favoriteColour = "Pink"
        },
        new{
            fullName = "Takeshi Gouda",
            nickName = "Gian",
            species = "Human",
            favoriteColour = "Orange"
        },
        new {
            fullName = "Suneo Honekawa",
            nickName = "Sneech",
            species = "Human",
            favoriteColour = "Green"
        }
    };
}

