@page
@model IndexModel
@{
    ViewData["Title"] = "Doraemon Theme Home page";
}
<style>
    h1{
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome, to the Doramon's World</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<br>
<hr>
