@page "/account-login"

<h1 style="color: #949398FF">Welcome</h1>
<h2 style="color: #949398FF">Login Page</h2>
<br>
<br>


<p>
    <label style="font-weight: bold; color: #949398FF">
        USERNAME:
        <input type="text" @bind="userName" placeholder='Enter User Name'/>
    </label>
    <br>
    <label style="font-weight: bold; color: #949398FF">
        PASSWORD:
        <input type="@PasswordVisibility" @bind="password" placeholder='Enter Password'/>
    </label>
    <br>
    <br>
    <button @onclick="OnLoginCallback" >
        LOGIN
    </button>
</p>

<br>
<br>
<br>


<h3 style="color: blueviolet; font-weight: bold;">@message</h3>

@code {
    private string userName;
    private string password;
    private string message;


    public bool PasswordVisible = true;
    public string PasswordVisibility = "text";
    private void OnLoginCallback()
    {
        if ((!string.IsNullOrWhiteSpace(userName)) && (!string.IsNullOrWhiteSpace(password)))
        {
            message = "Login Successful!";
            PasswordVisibility = "password";
	    }
    }

}