@page "/counter"

<h1>Counter</h1>

<p>IncrementAmount: @IncrementAmount</p>
<h4>High Score: @currentCount</h4>
<br>
@if (name != "")
{
<strong>@name</strong>
}
<br>
<br>
<button class="btn btn-primary" @onclick="resets">Reset</button>
<br>
<br>
<button class="btn btn-primary" @onclick="IncrementCount">Increase</button>
<br>
<br>
<button class="btn btn-primary" @onclick="DecrementCount">Decrease</button>

@code {
    public int currentCount = 0;

    [Parameter]
    public int IncrementAmount {get; set;} = 1;
    [Parameter]
    public int DecrementAmount {get; set;} = 1;

     [Parameter]
    public string name {get; set;} = "Utkarsh";

    private void resets()
    {
        currentCount = 0;
    }
    private void IncrementCount()
    {
        currentCount += IncrementAmount;

         if (currentCount >= 20)
         {
           currentCount = 20;
         };
    }
    private void DecrementCount()
    {
        currentCount -= DecrementAmount;

         if (currentCount <= 1)
         {
           currentCount = 1;
         };
    }
}
